{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>结算详细--中软高科-2015</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ckform.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
    <script type="text/javascript">
	 $(function () {
		$('#newNav').click(function(){
				window.location.href="{% url 'hospital:add' %}";
		 });
    });
	
    	function checkall(){
			var alls=document.getElementsByName("check");
			var ch=document.getElementById("checkall");
			if(ch.checked){
				for(var i=0;i<alls.length;i++){
					alls[i].checked=true;	
				}	
			}else{
				for(var i=0;i<alls.length;i++){
					alls[i].checked=false;	
				}	
			}
		}
		function delAll(object_id){
			$.ajax({
                url: "{% url 'hospital:dpro2' %}",
                type: 'POST',
                data: {
                    object_id: object_id,
                    cash: {{ cash }},
                    money: {{ money }},
                    balance: {{ balance }}
                },
                cache: false,
                success: function () {
                    alert('操作成功');
                }
            })
		}
    $(function () {       
		$('#backid').click(function(){
				window.location.href="{% url 'hospital:account' %}";
		 });
    });
    </script>
</head>
<body>
   
<table class="table table-bordered table-hover definewidth m10" >
   <thead>
    <tr>
        <th>病历号</th>
        <th>姓名</th>
        <th>收费项目</th>
        <th>收费金额</th>
        <th>收费日期</th>
    </tr>
    </thead>
        {% for ch in char %}
            <tr>
                <td style="vertical-align:middle;">{{ ch.case_id.medical_record_No }}</td>
                <td style="vertical-align:middle;">{{ ch.case_id.name }}</td>
                <td style="vertical-align:middle;">{{ ch.charge_cellectable }}</td>
                <td style="vertical-align:middle;">{{ ch.charge_amount }}</td>
                <td style="vertical-align:middle;">{{ ch.exam_date|date:"Y-m-d H:i:s" }}</td>
            </tr>
        {% endfor %}

  </table>
  
  <table class="table table-bordered table-hover definewidth m10" >
  	<tr><th colspan="5">  <div class="inline pull-right page">
          <a href='#' >第一页</a> <a href='#'>上一页</a>     <span class='current'>1</span><a href='#'>2</a><a href='/chinapost/index.php?m=Label&a=index&p=3'>3</a><a href='#'>4</a><a href='#'>5</a>  <a href='#' >下一页</a> <a href='#' >最后一页</a>
		  &nbsp;&nbsp;&nbsp;共<span class='current'>32</span>条记录<span class='current'> 1/33 </span>页
		  </div>
		 <div>
				<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
				<button type="button" class="btn btn-success" onclick="delAll({{ h_id }})">导出excel</button>
		 </div>
		 
		 </th></tr>
  </table>
  
  
<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <td width="10%" class="tableleft">总花费：</td>
        <td>{{ money }}元</td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">押金：</td>
        <td>{{ cash }}元</td>
    </tr>
    <tr>
        <td width="10%" class="tableleft">余额：</td>
        <td>{{ balance }}元</td>
    </tr>
</table>
  
</body>
</html>
